@tailwind base;
@tailwind components;
@tailwind utilities;


#root,html,body{
    height:100%;
    width:100%
}

.mainAdmin{
    height:100%;
    width:100%;
    display:flex;
}

.mainAdmin .content{
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}

.mainAdmin>.adminmenuvisible{
    position: fixed;
	top: 0;
	left: 0;
	z-index: 2000;
	transition: .3s ease;
	overflow-x: hidden;
    width:120px;
    height:100%;
    
}

.adminmenuhidden{
    width: 4%;
    height:100vh;
    transition:width 0.3s ease-in-out;
    
}